.chat-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.chat-container-inner {
}
.chat-header {
  display: table;
  margin: 0 auto;
  color: #333333;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.chat-form {
  flex: 1;
  display: flex;
  align-items: start;
}
.chat-messages-container {
  flex: 1;
  margin: 2rem;
  margin-left: 0 !important;
  padding: 1rem;
  border: 0.4rem #87cefa solid;
  border-radius: 15px;
  min-height: 10rem;
  min-width: 15rem;
}
.chat-textarea {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  height: 10rem;
  width: 35rem;
}
.chat-btn {
  margin: 1rem;
  flex: 1 1 0;
  height: 9rem;
  padding: 0 2rem;
  background-color: #616161;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
}
.chat-btn:hover {
  background-color: #333333;
}
.chat-btn:active {
  transform: translateY(3px);
}
.name {
  text-transform: capitalize;
}
.message {
  padding-bottom: 0.5rem;
}
.from {
  color: #ff6347;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
}
.text {
  color: darkslategray;
  font-size: 1.1rem;
  font-weight: 400;
}
.no-messages-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.no-messages {
  width: 23rem;
  height: 3rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc0cb;
  font-size: 1.1rem;
  font-weight: 500;
  color: darkslategray;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
}
/*   MEDIA QUERIES */

@media (min-width: 768px) {
  /* 768 */
}

@media (max-width: 995px) {
  .chat-textarea {
    width: 15rem;
  }
}
@media (max-width: 1280px) and (min-width: 767px) {
  .login-form-top {
    display: none;
  }
  .login-link {
    display: block;
  }
  .top-menu-item {
    font-size: 1rem;
    padding: 0.5rem !important;
  }
}
@media (max-width: 995px) and (min-width: 767px) {
  .form {
    min-width: 25rem;
  }
}
