.user-container {
  width: 17rem;
  min-height: 22rem;
  padding: 1rem;
  margin: 1rem 2rem;
  border: 2px LightGrey solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
}
.user-content {
  width: 100%;
}
.user-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.start-chat {
  padding: 1rem;
  border-radius: 50%;
  background-color: #ff6600;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border: none;
  outline: none;
}
.start-chat:hover {
  background-color: #ffa600;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.start-chat-inactive {
  background-color: #daa520;
  pointer-events: none;
}
.divider {
  width: 70%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--blue-800);
  margin-left: auto;
  margin-right: auto;
}
.horizontal-center {
  display: flex;
  justify-content: center;
}
.btn-raise {
  margin-top: 0.5rem !important;
  margin-bottom: 0.4rem !important;
}
.contact-btn {
  padding: 1rem 2rem !important;
}
.languages-container {
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
  background-color: #dcdcdc;
  border-radius: 10px;
}
.lgs + .lgs {
  margin-left: 1rem;
  border-left: 2px solid #808080;
}
.lgs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.lgs-header {
}
@media (max-width: 995px) {
  .contact-btn {
    padding: 1rem 0 !important;
    max-width: 10rem !important;
  }
}
