.container-section {
}
.no-users-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.no-users {
  height: 3rem;
  margin-top: 5rem;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc0cb;
  font-size: 1.1rem;
  font-weight: 500;
  color: darkslategray;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
}
